@{
    ViewBag.Title = "Index";
    var books = new List<string> { "First", "Second", "Third" };
    
}  
@model SelectList

<h1>@ViewData["Name"]</h1>
    <ol>
    @foreach(var book in books)
        {
            <li>@book</li>
        }
    </ol>
        <h2>Список</h2>
        <ol type="A">
            <li>элемент 1 списка</li>
            <li>элемент 2 списка</li>
        </ol>
        <hr />
        <h2>Форма</h2>
        <form method="post">
            <div>
                <select id="itemSelect" name="selectedId" asp-items="Model"></select>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox1" name="checkbox1" value="checkbox1">
                        <label class="form-check-label" for="checkbox1">Чек-бокс 1</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkbox2" name="checkbox2" value="checkbox2">
                        <label class="form-check-label" for="checkbox2">Чек-бокс 2</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio1" name="radio" value="radio1">
                        <label class="form-check-label" for="radio1">Радио-1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio2" name="radio" value="radio2">
                        <label class="form-check-label" for="radio2">Радио-2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="radio3" name="radio" value="radio3">
                        <label class="form-check-label" for="radio3">Радио-3</label>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row mb-3">
                <label for="username" class="col-sm-2 col-form-label">Логин:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Введите имя" id="username" name="username" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="password" class="col-sm-2 col-form-label">Пароль:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Введите пароль" id="password" name="password" required>
                </div>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
